body {
    padding: 0;
    margin: 0;
    background: #000;
}

canvas {
    vertical-align: top;
}

p {
    position: absolute;
    bottom: 0;
    padding: 10px;
    margin: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
}

#score, p {
    color: #fff;
    font-size: 24px;

}