body {
    padding: 0;
    margin: 0;
}

canvas {
    vertical-align: top;
}

#menu {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 10px;
    height: 400px;
}

form {
    position: absolute;
    bottom: 10px;
}

th {
    font-size: 1.5em;
}

p, #score {
    font-size: 1.2em;
    padding: 10px;
}

input[type=submit] {
    margin-top: 3px;
    width: 173px;
    border-radius: 5px;
}

#topPlayers {
    display: none;
    border: none;
    list-style-type: none;
    padding: 5px;
    text-align: left;
}

#place {
    font-size: 1.2em;
}

td, tr {
    text-align: left;
    margin: 0;
}